
a,.tp-caption a.btn:hover {
	color: #67b0d1;
}
.top-nav-collapse {
	background: rgba(129, 0, 255, 0.79);
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #66afd1;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #66afd1;
}

.widget-avatar .avatar:hover {
    border: 5px solid #67b0d1;
}

.bg-skin {
	background: #66afd1;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #8100ff;
}

footer {
    background-color: #8100ff;
}

.btn-skin {
  color: #fff;
  background-color: #8100ff;
  border-color: #8100ff;
}
